//colors
$white: #ffffff;
$color_mirage_approx: #191c1f;
$color_tuatara_approx: #323538;
$color_coral_red_approx: #f83745;
$color_storm_dust_approx: #666;
$color_carnation_approx: #f5545f;
$color_main_head: #FF424F;
$color_shark_approx: rgb(34, 43, 48);
$color_input_background: rgb(27, 34, 38);
$color_input_background_focus: rgb(42, 52, 56);

$color_input_border: rgb(42, 52, 56);
$color_input_border_focus: rgb(53, 67, 73);
$color_input_text:#c6c7d6;
$color_mischka_approx: #d2d3e0;
$color_cornflower_approx: #a1cae5;
$color_magic: #a269f2;
$black_5: rgba(0,0,0,0.05);
$color_yellow_sea_approx: #ffb10a;
$red_30: rgba(255, 0, 0, 0.3);
