#side_wrapper {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 260px;
	z-index: 5;
}

#sidebar {
	width: 100%;
	background-color: $color_sidebar_background;
	height: 100%;
	float: left;
	position: relative;
	z-index: 10;

	hr {
		height: 1px;
		background-color: $color_sidebar_hr;
		border: 0;
		margin: 20px;
	}

	dl {
		margin: 0 0 50px;

		dt {
			color: $color_sidebar_nav_title;
			letter-spacing: 1px;
			text-transform: uppercase;
			padding: 20px 0 20px 30px;
		}

		a {
			text-decoration: none;
			padding: 0;
			margin: 0;

			dd {
				color: $color_sidebar_nav_item;
				text-decoration: none;
				font-size: 18px;
				padding: 10px 0 10px 30px;
				margin: 0 0 10px;
			}

			&:hover {
				text-decoration: none;

				dd {}
			}

			&.active dd {
				color: $color_sidebar_nav_item_active;
				background-color: $color_main_content_background;
				background-image: $url_arrow;
				background-position: 95% 50%;
				background-repeat: no-repeat;
			}
		}
	}
}

#side_head {
	height: 60px;
	width: 100%;
	background-color: $color_sidebar_header;
	margin-bottom: 60px;
}
