//colors
$white                        : #ffffff;
$color_sidebar_background     : #191c1f;
$color_sidebar_hr             : #323538;
$color_sidebar_header         : #f83745;
$color_sidebar_nav_title      : #666666;
$color_sidebar_nav_item_active: #f5545f;
$color_main_head              : #FF424F;
$color_main_content_background: #222b30;
$color_input_background       : #1b2226;
$color_input_background_focus : #2a3438;
$color_input_border           : #2a3438;
$color_input_border_focus     : #354349;
$color_input_text             : #c6c7d6;
$color_sidebar_nav_item       : #d2d3e0;
$color_text_hilight           : #a1cae5;
$color_magic                  : #a269f2;
